{% extends 'base.html' %} {% block content%}
<div class="row">
  <div class="col-md-3">
    <h5>Filter Movies</h5>
    <div class="list-group">
      <a href="{% url 'movies:filter' 0 %}" class="list-group-item list-group-item-action active"
        >All Genres</a
      >
    </div>
    {% for genre in genres %}
    <div class="list-group">
      <a href="{% url 'movies:filter' genre.id %}" class="list-group-item list-group-item-action">{{genre.name}}</a>
    </div>
    {% endfor %}
    
    <h5 class="mt-4">Sort movies</h5>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <select name="column_name" id="column_name" class="form-control" required>
          <option value="" selected>-- Sort By --</option>
          {% for field in movie_fields %} {% if field.name != 'id' %}
          <option class="form-control" value="{{field.name}}">
           
            {{field.name}}
            
          </option>
          {% endif %} {% endfor %}
        </select>
      </div>

      <div class="form-group mt-2">
        <select name="order" id="order" class="form-control" required>
          <option value="ASC" selected>-- Order By--</option>
          <option class="form-control" value="ASC">Ascending Order</option>
          <option class="form-control" value="DESC">Descending Order</option>
        </select>
      </div>

      <div class="form-group mt-3">
        <button class="btn btn-primary" type="submit" name="submit">
          Sort
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-9">
   
    <p>{% for message in messages %} {{ message }} {% endfor%}</p>
  
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Genre</th>
          <th>Stock</th>
          <th>Rate</th>
          <th>Date Released</th>
          <th></th>
          
        </tr>
      </thead>
      <tbody>
       {% for movie in movies %}
       <tr>
        <td>{{ movie.title }}</td>
        <td>{{ movie.genre }}</td>
        <td>{{ movie.number_in_stock }}</td>
        <td>{{ movie.daily_rental_rate }}</td>
        <td>{{ movie.date_released }}</td>
        <td>
          {% if movie.liked %}
          <a href="{% url 'movies:liked' movie.id%}">
            <i class="fa fa-heart" style="cursor: pointer;"></i>
          </a>
          {% else %}
          <a href="{% url 'movies:liked' movie.id%}">
            <i class="fa fa-heart-o" style="cursor: pointer;"></i>
          </a>
          {% endif %}
        </td>
      </tr>
       {% endfor %}
      </tbody>
    </table>
  
  </div>
</div>

{% endblock %}
