{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vidly</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'font-awesome/css/font-awesome.css' %}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}"> Vidly</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'movies:index' %}">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movies:movies' %}">Movies </a>
          </li>
          <li class="nav-item ">
            <a target="_blank" class="nav-link" href="/movieapi/"
              >Movies API
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'movies:genres' %}">Genres </a>
          </li>
          <li class="nav-item ">
            <a target="_blank" class="nav-link" href="/genreapi/"
              >Genres API
            </a>
          </li>
          {% if user.is_authenticated %} 
          <li class="nav-item ">
            <a class="nav-link" href="#"
              >{{ request.user }}
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'accounts:logout' %}"
              >Logout
            </a>
          </li>
          {% else %}
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'accounts:login' %}"
              >Login
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'accounts:register' %}"
              >Register
            </a>
          </li>
          {% endif %}
          
        </ul>
      </div>
    </nav>

    <main class="container mt-3">{% block content %} {% endblock %}</main>
  </body>
</html>
